.funky-text {
    font-size: 16px;
    color: magenta;
    font-style: italic;
}
.link {
    font-size: 16px;
    color: lightgreen;
    font-style: italic; }
    
.giggle {
    font-size: 16px;
    color: darkorange
    font-style: normal; } 

.lisa {
    font-size: 20px;
    color: magenta
    font style: normal; 
}

.clara {
    font-size: 10px;
    color: lightyellow  
    font-style: italic }